{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="stylesheet" href="{% static 'signUp/css/style.css' %}">
</head>
<body>
				{% if messages %}
					{% for message in messages %}
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

							  <div class="alert hide">
								 <span class="fas fa-exclamation-circle"></span>
								 <span class="msg">{{ message }}</span>
								 <div class="close-btn">
									<span class="fas fa-times"></span>
								 </div>
							  </div>
							  <script>
								 (function(){
								   $('.alert').addClass("show");
								   $('.alert').removeClass("hide");
								   $('.alert').addClass("showAlert");
								   setTimeout(function(){
									 $('.alert').removeClass("show");
									 $('.alert').addClass("hide");
								   },5000);
								 })();
								 $('.close-btn').click(function(){
								   $('.alert').removeClass("show");
								   $('.alert').addClass("hide");
								 });
							  </script>
							{% endif %}
						{% endfor %}
				{% endif %}


	<div class="container">
		<div class="inner_container">

			<div class="welkome">WELCOME</div>
			<div class="details">Please enter your details</div>



			<form method="post" action="">
				{% csrf_token %}
			<div class="inputs">
				{{ email }}
				<label class="email">EMAIL</label>
				<input class="input-btn" name="email" type="email" placeholder="example@test.com" required>

				<label class="pass">PASSWORD</label>
				<input class="input-btn" name="password" type="password" placeholder="Min 8 charaters long" required>

	            <input type="submit" value="LOGIN" class="button_login">

	        </div>
			</form>
	        <div>
				<a href="{% url 'signUp' %}">
					<button type="submit" class="button_Signup">
						Dont have an account? Sign up?
					</button>
				</a>
			</div>
	        

		</div>





		<div class="sign_up_with">


			<div class="sign_up_with_1">

				<a href="{% url 'social' %}">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon1"></div>

						<div class="text">LogIn with Facebook</div>
					</button>
				</a>

			</div>



			<div class="sign_up_with_2">
				<a href="{% url 'social' %}">

					<button type="submit" class="button_Signup_with">
						<a href="{% url 'social:begin' 'google-oauth2' %}">
							<div class="icon icon2"></div>
							<div class="text">LogIn with Google</div>
						</a>

					</button>
				</a>
			</div>




			<div class="sign_up_with_3">
				<a href="{% url 'social' %}">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon3"></div>

						<div class="text">LogIn with Twitter</div>
					</button>
				</a>
			</div>

			
		</div>


	</div>	
</body>
</html>

