{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'signUp/css/style_signup.css' %}">
</head>
<body>
	<div class="container">
		{% if form.errors %}
			<h1>{{ form.error}}</h1>
		{% endif %}
		<div class="inner_container">

			
			<div class="details">Please enter your details</div>
			<form method="post" action="">
				{% csrf_token %}
			<div class="inputs">

				<label class="name">Name</label>
				{{ form.username }}

				<label class="email" style="margin-top: 12px;">Email</label>
				{{ form.email }}

				<label class="pass" style="margin-top: 12px;">Password</label>
				{{ form.password1 }}

				<label class="cpass" style="margin-top: 12px; color: ;">Confirm password</label>
	            {{ form.password2 }}

				<input class="button_Signup" type="submit" value="SignUp">
	        </div>
			</form>



	        

		</div>
		<div class="sign_up_with">


			<div class="sign_up_with_1">

				<a href="#">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon1"></div>

						<div class="text">SignUP with Facebook</div>
					</button>
				</a>

			</div>



			<div class="sign_up_with_2">
				<a href="#">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon2"></div>

						<div class="text">SignUP with Google</div>
					</button>
				</a>
			</div>




			<div class="sign_up_with_3">
				<a href="#">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon3"></div>

						<div class="text">SignUP with Twitter</div>
					</button>
				</a>
			</div>

			
		</div>

	</div>	
</body>
</html>