{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'signUp/css/style.css' %}">
</head>
<body>
	<div class="container">
		<h1>{{ error }}</h1>
		<div class="inner_container">

			<div class="welkome">WELCOME</div>
			<div class="details">Please enter your details</div>

			<form method="post" action="">
				{% csrf_token %}
			<div class="inputs">

				<label class="email">EMAIL</label>
				<input class="input-btn" name="email" type="email" placeholder="example@test.com">

				<label class="pass">PASSWORD</label>
				<input class="input-btn" name="password" type="password" placeholder="Min 8 charaters long">

	            <input type="submit" value="LOGIN" class="button_login">

	        </div>
			</form>
	        <div>
				<a href="{% url 'signUp' %}">
					<button type="submit" class="button_Signup">
						Dont have an account? Sign up?
					</button>
				</a>
			</div>
	        

		</div>





		<div class="sign_up_with">


			<div class="sign_up_with_1">

				<a href="signup.html">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon1"></div>

						<div class="text">LogIn with Facebook</div>
					</button>
				</a>

			</div>



			<div class="sign_up_with_2">
				<a href="signup.html">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon2"></div>

						<div class="text">LogIn with Google</div>
					</button>
				</a>
			</div>




			<div class="sign_up_with_3">
				<a href="signup.html">
					<button type="submit" class="button_Signup_with">
						<div class="icon icon3"></div>

						<div class="text">LogIn with Twitter</div>
					</button>
				</a>
			</div>

			
		</div>


	</div>	
</body>
</html>